@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    font-weight: normal;
    font-size: 100%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    color: inherit;
    font-family: inherit;
    list-style: none;
    vertical-align: baseline;
    background: none;
    outline: none;
}

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Нижче стилі для секції Modal */



/* Нижче стилі для секції Header + Hero */



/* Нижче стилі для секції Grid + Cards */



/* Нижче стилі для секції Pagination + Footer */
.pagination {
position: absolute;
  background: url(/event-booster/assets/noise\ body.png);
    gap: 30px;
    margin-top: 20px;
    background: #000000;
  }
  .footer{
    background: #000000;
  
    /* position: relative; */
  }
  .page {
   
    cursor: pointer;
    user-select: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    
  }
  .active {

  }
  .page:hover{
    transition: 2m;
    width: 30px;
    height: 30px;
    border: 1.5px solid #DC56C5; 
    color: #DC56C5;
    border-radius: 10px 0 10px 0; /* верхний левый и нижний правый закруглены */
    box-sizing: border-box;
  }
.footer-p{
    cursor: pointer;
    user-select: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #939393;
    font-size: 16px;
    margin-top: 200px;
    position: relative;
}


/* Нижче стилі для секції Responsive */

